@import url("https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@200;300;400;500;700&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Montserrat Alternates', sans-serif;
}

::-webkit-scrollbar-track {
  background-color: #1e2e38;
  border-radius: 0rem 0rem .32rem .32rem;
}

::-webkit-scrollbar {
  height: .4rem;
}

::-webkit-scrollbar-thumb {
  background-color: #385769;
  border-radius: 0rem 0rem .32rem .32rem;
}

#root {
  width: 100%;
  height: 100vh;
  min-height: 844px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-image: -webkit-gradient(linear, left top, right bottom, from(#2f4858), color-stop(#3d5463), color-stop(#4b606f), color-stop(#596c7b), to(#677987));
  background-image: linear-gradient(to right bottom, #2f4858, #3d5463, #4b606f, #596c7b, #677987);
}

.app {
  width: 425px;
  height: 844px;
  gap: .5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-radius: .32rem;
  background-color: #677987;
  -webkit-box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px, rgba(0, 0, 0, 0.07) 0px 2px 2px, rgba(0, 0, 0, 0.07) 0px 4px 4px, rgba(0, 0, 0, 0.07) 0px 8px 8px, rgba(0, 0, 0, 0.07) 0px 16px 16px;
          box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px, rgba(0, 0, 0, 0.07) 0px 2px 2px, rgba(0, 0, 0, 0.07) 0px 4px 4px, rgba(0, 0, 0, 0.07) 0px 8px 8px, rgba(0, 0, 0, 0.07) 0px 16px 16px;
}

.header {
  width: 100%;
  background-color: #2F4858;
  border-radius: .32rem .32rem 0rem 0rem;
  -webkit-box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
          box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.header .header-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: .5rem 1rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header .header-group .headGroup-One {
  gap: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .header-group .headGroup-One .app-img {
  width: 55px;
  height: 55px;
}

.header .header-group .headGroup-One .app-title {
  color: #F1F1E6;
  font-size: 1.75rem;
}

.header .header-group .headGroup-Two .user-icon {
  color: #F1F1E6;
}

.contents-container {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  gap: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: .75rem .75rem;
}

.contents-container .search-box {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: .5rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.contents-container .search-box .search-wrapper {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 85%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #9BAEBC;
  border-radius: .32rem;
  -webkit-box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
          box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  -webkit-transition: all .25s ease-out;
  transition: all .25s ease-out;
  gap: .25rem;
}

.contents-container .search-box .search-wrapper .search-form {
  width: 100%;
}

.contents-container .search-box .search-wrapper .search-input {
  border: none;
  outline: none;
  padding: .5rem;
  width: 100%;
  background-color: transparent;
}

.contents-container .search-box .search-wrapper .search-icon {
  margin-left: .5rem;
  color: #2f4858;
  font-size: 1.5rem;
}

.contents-container .search-box .search-wrapper:focus-within {
  -webkit-box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
          box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  background-color: #2f4858;
}

.contents-container .search-box .search-wrapper:focus-within .search-input, .contents-container .search-box .search-wrapper:focus-within .search-icon {
  color: #F1F1E6;
}

.contents-container .search-box .burger, .contents-container .search-box .home-link {
  border: none;
  outline: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #9BAEBC;
  color: #2f4858;
  border-radius: .32rem;
  padding: .5rem .5rem;
  -webkit-transition: all .25s ease-in-out;
  transition: all .25s ease-in-out;
  cursor: pointer;
  -webkit-box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
          box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.contents-container .search-box .burger .home-icon, .contents-container .search-box .home-link .home-icon {
  width: 13.33px;
  height: 13.33px;
}

.contents-container .search-box .burger:hover, .contents-container .search-box .home-link:hover {
  -webkit-box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
          box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  background-color: #2f4858;
  color: #F1F1E6;
}

.contents-container .curr-search {
  font-size: .85rem;
  color: #F1F1E6;
}

.contents-container .main-feed {
  width: 100%;
  height: 100%;
  position: relative;
  border-radius: .32rem;
  background-color: #2f4858;
  -webkit-box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
          box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.contents-container .main-feed .feed-header {
  text-align: center;
  padding: .5rem;
  -webkit-box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
          box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.contents-container .main-feed .feed-header .feed-title {
  color: #F1F1E6;
  text-transform: uppercase;
}

.contents-container .main-feed .feed {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: .75rem;
  padding: .75rem;
  overflow-x: auto;
  overflow-y: hidden;
}

.contents-container .main-feed .feed .service-container {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 1.5rem;
  background-color: #4b606f;
  bottom: .5rem;
  right: .5rem;
  width: 25%;
  height: 20%;
  z-index: 10;
  border-radius: .32rem;
}

.contents-container .main-feed .feed .service-container .service-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  text-align: center;
}

.contents-container .main-feed .feed .service-container .service-list .service {
  font-size: smaller;
  color: #F1F1E6;
  text-transform: uppercase;
  -webkit-transition: all .25s ease-in-out;
  transition: all .25s ease-in-out;
  text-decoration: none;
}

.contents-container .main-feed .feed .service-container .service-list .service:hover {
  color: #b7e1fa;
}

.contents-container .main-feed .feed .waitingFeed-msg {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: .5rem;
}

.contents-container .main-feed .feed .waitingFeed-msg .waiting-feed {
  color: #F1F1E6;
  opacity: .65;
  text-align: center;
}

.contents-container .main-feed .feed .waitingFeed-msg .error-msg {
  padding: .5rem 1rem;
  background-color: #812b2b;
  border-radius: .32rem;
  color: #F1F1E6;
}

.contents-container .main-feed .feed .weather-container-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: .75rem;
  max-width: 100%;
  min-width: 100%;
  -webkit-transition: all .25s ease-in-out;
  transition: all .25s ease-in-out;
}

.contents-container .main-feed .feed .weather-container-wrapper .weather-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: .5rem;
  max-width: 100%;
  min-width: 100%;
  background-color: #2f4858;
  padding: 1rem;
  border-radius: .32rem;
  -webkit-box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 5px -1px;
          box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 5px -1px;
}

.contents-container .main-feed .feed .weather-container-wrapper .weather-container .day {
  color: #b7e1fa;
  text-transform: uppercase;
}

.contents-container .main-feed .feed .weather-container-wrapper .weather-container .temp-desc {
  color: #b7e1fa;
  opacity: .75;
}

.contents-container .main-feed .feed .weather-container-wrapper .weather-container .weather-img {
  background-color: #6a7c88;
  border-radius: .32rem;
}

.contents-container .main-feed .feed .weather-container-wrapper .weather-container .temp-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: .5rem;
}

.contents-container .main-feed .feed .weather-container-wrapper .weather-container .temp-container .weather-meas {
  color: #F1F1E6;
  font-size: 1.25rem;
  font-weight: 500;
}

.contents-container .main-feed .feed .weather-container-wrapper .weather-container .temp-container .slash {
  color: #F1F1E6;
  font-size: 1.2rem;
}

.contents-container .main-feed .feed .weather-container-wrapper .weather-container .temp-container .temp-btn {
  border: none;
  outline: none;
  background-color: transparent;
  color: #F1F1E6;
  text-transform: uppercase;
  font-size: 1.2rem;
  cursor: pointer;
  -webkit-transition: all .25s ease-in-out;
  transition: all .25s ease-in-out;
}

.contents-container .main-feed .feed .weather-container-wrapper .weather-container .weather-traits {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: .25rem;
}

.contents-container .main-feed .feed .weather-container-wrapper .weather-container .weather-traits .trait {
  padding: .5rem;
  border-radius: .32rem;
  background-color: #6a7c88;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: .45rem;
  width: 105px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contents-container .main-feed .feed .weather-container-wrapper .weather-container .weather-traits .trait .trait-title {
  color: #F1F1E6;
  opacity: .75;
}

.contents-container .main-feed .feed .weather-container-wrapper .weather-container .weather-traits .trait .trait-p {
  color: #F1F1E6;
  font-size: .85rem;
}

.contents-container .main-feed .feed .weather-container-wrapper .weather-container .temp-overview {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  gap: .5rem;
  width: 100%;
  padding: .45rem .25rem;
  border-radius: .32rem;
  background-color: #6a7c88;
  overflow-x: auto;
}

.contents-container .main-feed .feed .weather-container-wrapper .weather-container .temp-overview .hour-temp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.contents-container .main-feed .feed .weather-container-wrapper .weather-container .temp-overview .hour-temp .hour {
  font-weight: bolder;
  opacity: .55;
}

.contents-container .main-feed .feed .weather-container-wrapper .weather-container .temp-overview .hour-temp .hourTemp-img {
  width: 70px;
  height: 70px;
}

.contents-container .main-feed .feed .weather-container-wrapper .weather-container .temp-overview .hour-temp .subTemp-desc {
  font-size: .75rem;
  text-align: center;
}

.contents-container .main-feed .feed-pages {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: all .25s ease-in-out;
  transition: all .25s ease-in-out;
}

.contents-container .main-feed .feed-pages .weatherTraits-btn {
  text-transform: lowercase;
  padding: .45rem 1rem;
  margin: .5rem;
  outline: none;
  border: none;
  background-color: #9BAEBC;
  border-radius: .32rem;
  -webkit-transition: all .25s ease-in-out;
  transition: all .25s ease-in-out;
  font-weight: bolder;
}

.contents-container .main-feed .feed-pages .weatherTraits-btn:hover {
  background-color: #F1F1E6;
}

.contents-container .map-wrapper {
  width: 100%;
  height: 100%;
  border-radius: .32rem;
  background-color: #2f4858;
  -webkit-box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
          box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.contents-container .map-wrapper .map-title {
  margin: .5rem 0rem;
  text-align: center;
  color: #F1F1E6;
  text-transform: uppercase;
}

.contents-container .map-wrapper .map {
  height: 94%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.contents-container .map-wrapper .map p {
  color: #F1F1E6;
}

.footer {
  gap: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: .5rem 0rem;
  background-color: #2F4858;
  border-radius: 0rem 0rem .32rem .32rem;
  -webkit-box-shadow: 0px -3px 8px rgba(0, 0, 0, 0.24);
          box-shadow: 0px -3px 8px rgba(0, 0, 0, 0.24);
}

.footer .footerApp-icon {
  width: 30px;
  height: 30px;
}

.footer .footer-p {
  color: #F1F1E6;
  font-size: .90rem;
  opacity: .65;
}

@media screen and (max-width: 2560px) {
  .app {
    min-width: calc(2560px / 2);
  }
}

@media screen and (max-width: 1440px) {
  .app {
    min-width: calc(1440px / 2);
  }
}

@media screen and (max-width: 1024px) {
  .app {
    min-width: calc(1024px / 2);
  }
  .contents-container .main-feed .feed .weather-container-wrapper
.weather-container .temp-overview {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}

@media screen and (max-width: 768px) {
  .app {
    min-width: calc(768px / 2);
  }
}

@media screen and (max-width: 425px) {
  .app {
    max-width: 320px;
  }
}
/*# sourceMappingURL=style.css.map */